langchain
langgraph
python-dotenv
chromadb
langchain-openai
langchain-anthropic
ibm-watsonx-ai
ibm-watson-machine-learning
langchain-community
langchain-ollama
langchain-ibm
jq
pypdf
pymysql
cryptography